<!DOCTYPE html>
<html>

<head>
    <title>
        List notes
    </title>
</head>

<body>
    <div class="container" id="main-container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ALL NOTES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let note of notes">
                        <td (click)="openDialog(note.id)">
                            {{note.title}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>